@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}

<h1 style="margin-top: 40px"></h1>
<hr>
<h1 class="display-4">Listado de Mascotas</h1>
<hr>
<br>
<table class="table">
    <tr>
            <th></th>
            <th class="list">Nombre</th>
            <th class="list">Color</th>
            <th class="list">Especie</th>
            <th class="list">Raza</th>
            <th class="list">Detalles</th>
            <th class="list">Editar</th>
    </tr>
    @foreach (var mascota in Model.listaMascotas)
    {
        <tr>

            <td>@mascota.Id</td>
            <td>@mascota.Nombre</td>
            <td>@mascota.Color</td>
            <td>@mascota.Especie</td>
            <td>@mascota.Raza</td>
            

        <td>
            <a  asp-page="./DetallesMascotas"
            asp-route-duenoId="@mascota.Id">
                <img style="width: 40px; height: 40px;" title="Detalles Mascotas" src="~/css/Detalles.png">
            </a>
        </td>
        <td>
            <a asp-page="./EditarMascotas"
            asp-route-duenoId="@mascota.Id">
                <img style="width: 40px; height: 40px;" title="Editar Mascotas" src="~/css/editar.png">
            </a>
        </td>
        </tr>
        
    }
</table>


<a class = "btn btn-primary table-btn" style="background-color: brown; margin-left: 20px;" asp-page="./EditarMascotas" class="btn-default">Adicionar Mascota</a> 

