@page
@model MascotaFeliz.App.Frontend.Pages.ListaVeterinariosModel
@{
}

<h1 style="margin-top: 40px"></h1>
<hr>
<h1 class="display-4">Listado de Veterinarios</h1>
<hr>
<br>
<table class="table">
    <tr>
            <th></th>
            <th class="list">Nombres</th>
            <th class="list">Apellidos</th>
            <th class="list">Dirección</th>
            <th class="list">Teléfono</th>
            <th class="list">Tarjeta P.</th>
            <th class="list">Detalles</th>
            <th class="list">Editar</th>
    </tr>
    @foreach (var veterinario in Model.listaVeterinarios)
    {
        <tr>

            <td>@veterinario.Id</td>
            <td>@veterinario.Nombres</td>
            <td>@veterinario.Apellidos</td>
            <td>@veterinario.Direccion</td>
            <td>@veterinario.Telefono</td>
            <td>@veterinario.TarjetaProfesional</td>

        <td>
            <a  asp-page="./DetallesVeterinarios"
            asp-route-duenoId="@veterinario.Id">
                <img style="width: 40px; height: 40px;" title="Detalles Veterinarios" src="~/css/Detalles.png">
            </a>
        </td>
        <td>
            <a asp-page="./EditarVeterinarios"
            asp-route-duenoId="@veterinario.Id">
                <img style="width: 40px; height: 40px;" title="Editar Veterinarios" src="~/css/editar.png">
            </a>
        </td>
        </tr>
        
    }
</table>


<a class = "btn btn-primary table-btn" style="background-color: brown; margin-left: 20px;" asp-page="./EditarVeterinarios" class="btn-default">Adicionar Veterinario</a>